{
    ViewData["Title"] = "Choice";
}
<div style="margin-left: 20%; margin-right: 10%;">
    <h1 class="display-4">Already have an account?</h1>
    <hr />

    <p class="lead" style="margin-left: 40%; margin-right: 0%;">
        <a asp-controller="Account" asp-action="Login" class="btn btn-lg btn-secondary">Login</a>
        <a asp-controller="Account" asp-action="Register" class="btn btn-lg btn-secondary">or Register</a>
    </p>
</div>