@model NETD3202_Lab5_RyanClayson.Models.ResetPasswordViewModel
    @{
        ViewData["Title"] = "Result";
    }
    <div style="margin-left: 20%; margin-right: 10%;">
        <h1 class="display-4">Success</h1>
        <hr />

        <p class="lead">
            Your password has been reset.
        </p>

        <p class="lead" style="margin-left: 40%; margin-right: 0%;">
            <a asp-controller="Account" asp-action="Login" class="btn btn-lg btn-secondary">Login</a>
        </p>
    </div>