<!--Ryan Clayson
 * NETD 3202 - Lab 5
 * December 6, 2020
 * This ASP.NET Core application is designed to allow the user to enter an NBA Player and add it to a database
 * Added Login Functionality, Registration for new user
 * Resources: Alaadin Addas Week 11 Demo-->
@model NETD3202_Lab5_RyanClayson.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "Result";
}
<div style="margin-left: 20%; margin-right: 10%;">
    <h1 class="display-4">Success</h1>
    <hr />

    <p class="lead">
        Your password has been reset.
    </p>

    <p class="lead" style="margin-left: 40%; margin-right: 0%;">
        <a asp-controller="Account" asp-action="Login" class="btn btn-lg btn-secondary">Login</a>
    </p>
</div>