<!--Used as an error page for PlayerDetails-->
<div style="margin-left: 40%; margin-right: 10%;">
    <h1 class="display-4">Error!</h1>
    <hr />
    <p class="lead">
        Either the Player ID was not found or this Player ID is already on the additional details list.
    </p>

    <p class="lead" style="margin-left: 20%; margin-right: 0%;">
        <a asp-controller="PlayerDetails" asp-action="Create" class="btn btn-lg btn-secondary">Try Again</a>
    </p>
</div>
