@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-left: 15%; margin-right: 10%;">
    <h1 class="display-4">Welcome to NBA Player Database!</h1>
    <hr />
    <p class="lead">
        This site uses database that stores a list of NBA Players!
    <p class="lead" style="margin-left: 40%; margin-right: 0%;">
        <a asp-controller="Players" asp-action="Index" class="btn btn-lg btn-secondary">Enter</a>
    </p>
</div>
